/* hero-section styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.hero-section img {
  opacity: 0.2;

}

.Cardtitle {
  color: #1E82EF;
  padding-left: 30px;
  padding-top: 85px;
  font-weight: 600;

}

.link-text {
  color: #214A6C;
  font-weight: 500;
}

.bts {
  padding-top: 8px;
}

.bt {
  padding-top: 30px;
}

.form-style {
  background-color: #818182;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;

}

.fontWeight {
  width: 20%;
  font-size: 8px;
}


/* signup page styles here */
.containerBackground {
  background-color: #EEEEEE;
  ;
}

.containerWidth {
  width: 33%;
  margin-bottom: 30px;
}



/* Responsive Styles */

@media screen and (max-width:576px) {

  .cardrightpart {
    margin-left: 20px;
    margin-top: 20px;
  }

  .form-style {
    margin-left: 30px;

  }

  .nearbySpace {

    margin-top: 50px;
  }


  .hero-section img {
    height: 65vh;
  }

  .ulStyle {
    text-align: center;
  }

}





@media screen and (min-width:577px) and (max-width:992px) {

  .cardrightpart {
    margin-left: 70px;
    margin-top: 20px;
  }

  .nearbySpace {

    margin-top: 50px;
  }


  .hero-section img {
    height: 65vh;
  }

  .ulStyle {
    text-align: center;
  }



}